<div class="container pt-5">

  <%= button_to "Simulate Reward", simulate_reward_path, method: :post, class: 'btn btn-primary mb-3' %>
  <%= button_to "Simulate Off-chain Fee Payment", simulate_fee_payment_path, method: :post, class: 'btn btn-primary mb-3' %>

  <table class="table table-bordered table-striped shadow-sm rounded bg-white">
    <thead class="thead-light">
      <tr>
        <th colspan="2" class="text-left h4">Rewards Statement</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th colspan="2" class="bg-light">Gross Rewards</th>
      </tr>
      <tr>
        <td class="font-weight-bold">Total Rewards Earned:</td>
        <td><%= @statement.gross_rewards_total %></td>
      </tr>
      <tr>
        <th colspan="2" class="bg-light">Fees</th>
      </tr>
      <tr>
        <td>Fees Paid (For This Period):</td>
        <td><%= @statement.fees_paid %></td>
      </tr>
      <tr>
        <td>- Fees Accrued (For This Period):</td>
        <td><%= @statement.fee_expenses %></td>
      </tr>
      <tr>
        <td>= Overpayment:</td>
        <td><%= @statement.overpayments %></td>
      </tr>
      <tr>
        <td class="pl-4">Reimbursed:</td>
        <td><%= @statement.reimbursements %></td>
      </tr>
      <tr>
        <td class="pl-4">Reimbursements Owed:</td>
        <td><%= @statement.overpayments_owed %></td>
      </tr>
      <tr>
        <th colspan="2" class="bg-light">Net Rewards</th>
      </tr>
      <tr>
        <td>Rewards Received:</td>
        <td><%= @statement.net_rewards_cash %></td>
      </tr>
      <tr>
        <td>Net Rewards Earned:</td>
        <td><%= @statement.net_rewards %></td>
      </tr>
      <tr>
        <th colspan="2" class="bg-light">Balance</th>
      </tr>
      <tr>
        <td>Balance Owed:</td>
        <td><%= @statement.balance %></td>
      </tr>
    </tbody>
  </table>

  <div class="card">
    <div class="card-header">
      OCB Contract
    </div>

    <div class="card-body">
      <p class="card-text h4">Tab: <%= @ocb_contract.tab %> ETH</p>

      <h6>Transfers Received</h6>
      <ul class="list-group">
        <% Reward.where(paid_to: @org.accounts_by_name.ocb_eth).find_each do |reward| %>
          <li class="list-group-item">
            <%= reward.date %>: <%= reward.amount %> ETH
          </li>
        <% end %>
      </ul>

      <h6>Payouts</h6>
      <ul class="list-group">
        <% OcbPayout.find_each do |payout| %>
          <li class="list-group-item">
            <%= payout.date %>: <%= payout.amount %> ETH
          </li>
        <% end %>
      </ul>

      <h6>Fee Payments</h6>
      <ul class="list-group">
        <% FeePayment.where(from_account: @org.accounts_by_name.ocb_eth).find_each do |payment| %>
          <li class="list-group-item">
            <%= payment.date %>: <%= payment.amount %> ETH
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
