<%= form_with(model: billing_product) do |form| %>
  <% if billing_product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(billing_product.errors.count, "error") %> prohibited this billing_product from being saved:</h2>

      <ul>
        <% billing_product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
