<p style="color: green"><%= notice %></p>

<%= render @billing_product %>

<div>
  <%= link_to "Edit this product", edit_billing_product_path(@billing_product) %> |
  <%= link_to "Back to products", billing_products_path %>

  <%= button_to "Destroy this product", @billing_product, method: :delete %>
</div>
